.RankProfile {
	position: relative;

	&-Profile {
		width: 130px;
		height: 130px;
		object-fit: cover;
		border-radius: 50%;
	}

	&-Rank {
		padding: 0.3rem 0.6rem;
		border-radius: 50%;
		position: absolute;
		bottom: 10%;
		right: 10%;
		transform: translate(5%, 5%);
		font-size: var(--font-smallest);
		font-weight: bold;
	}
}
