.RecommandForm {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 1rem;

	&-Form {
		width: 100%;
		height: 80px;
		max-height: 80px;
		outline: none;
		border: none;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0.4rem;

		&:focus {
			outline: 1px solid var(--main);
		}
	}

	&-Submit {
		width: 60px;
		height: 35px;
		outline: none;
		border: none;
		border-radius: 5px;
		color: var(--white);
		background-color: var(--main);
		margin-top: 0.5rem;
		font-size: var(--font-small);
		cursor: pointer;
	}
}
