@import 'styles/lib.scss';

.RecentUserItem {
  width: 300px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--lighterGray);
  border-radius: 5px;
  padding: 0.6rem;
  margin-right: 0.5rem;
  @include scaleEffect();

  @media screen and (max-width: 1500px) {
    margin-bottom: 0.2rem;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  &-Left {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: center;

    &-Avatar {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 0.8rem;
    }

    &-Info {
      color: var(--contrast);

      &-Name {
        font-size: var(--font-small);
        font-weight: 500;
      }

      &-Position {
        font-size: var(--font-default);
      }
    }
  }

  &-Recommand {
    font-size: var(--font-big);
    color: var(--gray);
    cursor: pointer;
  }
}
