.PostButton {
	outline: none;
	border: none;
	border-radius: 5px;
	height: 45px;
	padding: 0 1.4rem;
	font-size: 1.2rem;
	cursor: pointer;

	&-Blue {
		background-color: var(--main);
		color: var(--white);
	}

	&-Gray {
		background-color: var(--gray);
		color: var(--lighterBlack);
		margin-right: 0.5rem;
	}
}
