.MarkdownRender {
	p,
	div,
	pre {
		word-break: break-all;
		white-space: pre-wrap;
		font-size: var(--font-small) !important;
		line-height: 2.2rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--contrast);
		margin-bottom: 0.25rem;
	}

	ul {
		padding-inline-start: 1.2rem;
		line-height: 2rem;
	}

	li {
		font-size: var(--font-small);
	}
}
