.MarkdownRender {
	padding-left: 5px;

	p,
	div,
	pre {
		word-break: break-all;
		white-space: pre-wrap;
		font-size: var(--font-small) !important;
		line-height: 2.2rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--contrast);
		margin-bottom: 0.25rem;
	}

	h1 {
		font-size: 2.4rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.6rem;
	}

	ul {
		padding-inline-start: 1.5rem;
		line-height: 2rem;
	}

	li {
		font-size: var(--font-small);
	}

	.token {
		background: none !important;
	}
}
