.MarkdownRender {
  margin-top: 1rem;

  p,
  div,
  pre {
    word-break: break-all;
    white-space: pre-wrap;
    font-size: var(--font-smallest) !important;
    line-height: 1.6rem;
  }

  code {
    background-color: var(--lighterGray);
    color: var(--black);
    padding: 1px 8px;
    border-radius: 5px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--contrast);
    margin-bottom: 0.25rem;
    font-weight: bold;
    margin-top: 0.8rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  ul {
    padding-inline-start: 1.5rem;
    line-height: 2rem;
  }

  li {
    font-size: var(--font-smallest);
  }

  tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    font-size: var(--font-smallest);
  }

  table tr:nth-child(2n) {
    background: #f6f8fa;
  }

  code[class^='language'],
  code[class*='language'] {
    padding: 0 !important;
  }

  .token {
    background: none !important;
  }
}
