.InfoInput {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	font-size: var(--font-small);
	border-bottom: 1px solid var(--gray);
	padding-bottom: 0.35rem;
	margin: 0.4rem 0;
	color: var(--contrast);

	& > *:first-child {
		font-size: var(--font-normal);
	}

	&-Input {
		flex: 1;
		outline: none;
		border: none;
		background: none;
		margin-left: 4px;

		&::placeholder {
			color: var(--gray);
		}
	}

	&:focus-within {
		border-bottom: 1px solid var(--main);
	}
}
