.CommentSubmit {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 0.5rem;

	&-Cancel {
		display: flex;
		display: -webkit-flex;
		align-items: center;

		&-Text {
			font-size: var(--font-small);
		}

		&-Icon {
			font-size: var(--font-regular) !important;
			color: var(--red);
			cursor: pointer;
		}
	}

	&-Button {
		width: 85px;
		height: 35px;
		outline: none;
		border: none;
		border-radius: 10px;
		background-color: var(--green);
		color: var(--white);
		cursor: pointer;
	}
}
