.CommentSubmit {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5rem;

  &-Cancel {
    display: flex;
    display: -webkit-flex;
    align-items: center;

    &-Text {
      font-size: var(--font-smallest);
    }

    &-Icon {
      font-size: var(--font-normallest) !important;
      color: var(--red);
      cursor: pointer;
    }
  }
}
