.ToggleTheme {
  width: 60px;
  height: 60px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme);
  border: 2px solid var(--contrast);
  color: var(--contrast);
  border-radius: 15px;
  font-size: var(--font-regular);
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: var(--contrast);
    color: var(--theme);
  }
}
