@import 'styles/lib.scss';

.PopularQuestionItem {
  margin-bottom: 1.4rem;

  &-LinkWrap {
    @include scaleEffect();

    &-Thumbnail {
      width: 100%;
      @include setHeightWithMax(100px);
      object-fit: cover;
      margin-bottom: 0.3rem;
    }

    &-Title {
      @include ellipsisLine(1);
      margin-bottom: 0.1rem;
      font-size: var(--font-smallest);
      cursor: pointer;
    }
  }

  &-SubInfo {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;

    &-CreatedAt {
      font-size: var(--font-default);
    }
  }
}
