.LeftSidebar {
	width: 150px;
	border-right: 1px solid var(--bd-sidebar);

	&-Menus {
		position: sticky;
		top: 0;

		&-Wrapper {
			padding-top: 1.5rem;
		}
	}

	@media screen and (max-width: 1150px) {
		display: none;
	}
}
