.NoPosts {
	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
	align-items: center;

	&-Image {
		width: 50%;
	}

	&-Text {
		text-align: center;
		font-size: var(--font-normal);
		margin-top: 1.5rem;
	}
}
