@import 'styles/lib.scss';

$imageSize: 90px;

.UserItem {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(219, 219, 219, 0.7);
  border-radius: 12px;
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }

  &-Close {
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    color: var(--red);
    font-size: var(--font-medium);
    cursor: pointer;
  }

  &-Left {
    flex: 2;

    &-ContentsWrap {
      display: flex;
      display: -webkit-flex;
      align-items: center;

      &-Avatar {
        width: $imageSize;
        max-width: $imageSize;
        height: $imageSize;
        max-height: $imageSize;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 1rem;
      }

      &-NameWrap {
        color: var(--contrast);

        &-Wrap {
          display: flex;
          display: -webkit-flex;
          align-items: center;

          &-Name {
            font-size: var(--font-small);
            font-weight: bold;
            margin-right: 0.5rem;
          }

          &-Position {
            margin-top: 0.25rem;
          }

          &-Text {
            @include ellipsisLine(3);
            font-size: var(--font-smallest);
            margin-right: 1rem;
          }
        }
      }
    }
  }

  &-JoinedAt {
    color: var(--main);
    font-size: var(--font-smallest);
  }
}
