.InfoBox {
	width: 100%;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--gray);
	padding-bottom: 0.75rem;

	&-Left {
		display: flex;
		display: -webkit-flex;
		flex: 5.5;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		align-items: center;

		&-Contents {
			margin-left: 0.7rem;

			&-NameId {
				display: flex;
				display: -webkit-flex;
				flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				align-items: center;
				margin-bottom: 0.25rem;

				&-Name {
					font-size: var(--font-normallest);
					font-weight: bold;
					margin-right: 0.25rem;
				}

				&-Id {
					font-size: var(--font-small);
				}
			}

			&-Info {
				display: flex;
				display: -webkit-flex;
				align-items: center;

				&-Icon {
					font-size: var(--font-normal);
					margin-right: 0.2rem;
				}

				&-Text {
					font-size: var(--font-smallest);
				}
			}
		}
	}

	&-Right {
		&-Icons {
			display: flex;
			display: -webkit-flex;
			flex: 1;
			justify-content: space-between;
			align-items: center;

			& > * {
				color: var(--contrast);
				font-size: var(--font-bigger);
				cursor: pointer;

				&:hover {
					opacity: 0.6;
					color: var(--gray);
				}
			}
		}
	}
}
