:root {
	--font-large: 3rem;
	--font-biggest: 2.85rem;
	--font-bigger: 2.4rem;
	--font-big: 2.2rem;
	--font-regular: 2rem;
	--font-medium: 1.9rem;
	--font-normallest: 1.7rem;
	--font-normal: 1.5rem;
	--font-contents: 1.35rem;
	--font-small: 1.2rem;
	--font-smallest: 1rem;
	--font-default: 14px;
}
