@mixin ellipsisLine($lineClamp) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -ms-word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineClamp;
}

@mixin setHeightWithMax($height) {
  height: $height;
  max-height: $height;
}

@mixin scaleEffect() {
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(1.01);
    opacity: 0.8;
  }
}
