@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: -75% 0%;
  }

  100% {
    background-position: -135% 0%;
  }
}

@mixin setSkeleton() {
  background: linear-gradient(-90deg, #f0f0f0 0%, #f9f9f9 50%, #f0f0f0 100%);
  background-size: 400% 400%;
  animation: pulse 1s ease-in-out infinite;
}
