@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import '../styles/Palette/Palette.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR' !important;

	&:focus {
		outline: none;
	}
}

h1 {
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

textarea {
	resize: none;
}

html,
body,
#root,
.light,
.dark {
	width: 100%;
	min-height: 100vh;
	background-color: var(--theme);
}

body {
	line-height: 1.34;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

td {
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}
