:root {
	--bd-sidebar: #eaecf5;
	--bg-codeBlock: #f1f3f5;

	--red: #fc1739;
	--yellow: #fff824;
	--orange: #f25c05;
	--skyblue: #5197e8;
	--main: #3370ff;
	--green: #3fb950;
	--purple: #8012c9;
	--pink: #f24b99;
	--navy: #1e2d87;
	--gray: #9e9e9e;
	--lighterGray: #e6e6e6;
	--lighterBlack: #495057;
	--black: #212121;
	--white: #ffffff;

	--bronze: #cd7f32;
	--silver: #c0c0c0;
	--platinum: #44ad9a;
	--diamond: #659abf;
	--master: #fa465b;

	--gray-shadow: rgba(94, 94, 94, 0.92);
}

.light {
	--theme: #f7f8fb;
	--lighter-theme: #f1f1f1;
	--contrast: #212121;
}

.dark {
	--theme: #212121;
	--contrast: #f7f8fb;
}
