@import 'styles/lib.scss';

@mixin sectionStyle() {
  padding: 3px 5px;
  border-bottom: 1px solid var(--lighterGray);
}

$maxHeight: 337px;

.GridItem {
  width: 295px;
  @include setHeightWithMax($maxHeight);
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  border: 1px solid var(--lighterGray);
  border-radius: 5px;
  @include scaleEffect();

  &-ImageWrap {
    width: 100%;
    @include setHeightWithMax(180px);
    user-select: none;
    -webkit-user-drag: none;
    display: flex;
    display: -webkit-flex;

    &-Thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &-Contents {
    color: var(--contrast);

    &-Title {
      @include ellipsisLine(1);
      @include sectionStyle();
      font-weight: 500;
      font-size: var(--font-smallest);
    }

    &-Introduction {
      & > div {
        @include setHeightWithMax(100px);
        line-height: 1.45rem;
        @include sectionStyle();
        @include ellipsisLine(4);
        font-size: var(--font-default);
      }
    }

    &-Info {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.8rem;
      margin-top: 2px;

      &-UserInfo {
        font-weight: 500;
      }
    }
  }
}
