@mixin sectionStyle() {
	padding: 5px;
	border-bottom: 1px solid var(--lighterGray);
}

$maxHeight: 345px;

.GridItem {
	width: 300px;
	height: $maxHeight;
	max-height: $maxHeight;
	margin-right: 0.75rem;
	margin-bottom: 0.75rem;
	border: 1px solid var(--lighterGray);
	border-radius: 5px;

	&-ImageWrap {
		width: 100%;
		height: 180px;
		max-height: 180px;
		user-select: none;
		-webkit-user-drag: none;
		display: flex;
		display: -webkit-flex;

		&-Thumbnail {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}
	}

	&-Contents {
		color: var(--contrast);

		&-Title {
			max-width: 100%;
			overflow-x: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			@include sectionStyle();
			font-weight: 500;
			font-size: 1.3rem;
		}

		&-Introduction {
			& > div {
				max-width: 100%;
				height: 100px;
				max-height: 100px;
				line-height: 1.6rem;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 4;
				@include sectionStyle();
				font-size: 1rem;
			}
		}

		&-Info {
			display: flex;
			display: -webkit-flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 0.8rem;
			margin-top: 2px;

			&-UserInfo {
				font-size: 1.1rem;
				font-weight: 500;
			}
		}
	}
}
