.Header {
	width: 100%;
	height: 70px;
	max-height: 70px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	background-color: var(--theme);
	border-bottom: 1px solid var(--lighterGray);
	z-index: 2;

	&-Contents {
		width: 100%;
		max-width: 1450px;
		margin: 0 auto;
		padding: 0 1.6rem;
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		align-items: center;

		&-LogoWrap {
			width: 160px;
			display: flex;
			display: -webkit-flex;
			align-items: center;
		}

		&-SearchWrap {
			display: flex;
			display: -webkit-flex;
			align-items: flex-end;
			border-bottom: 1px solid var(--contrast);
			padding: 8px 5px;

			&-Icon {
				margin-right: 8px;
				color: var(--contrast);
				font-size: 1.375rem;
			}

			&-Input {
				outline: none;
				border: none;
				background-color: var(--theme);
				font-size: 1rem;
				color: var(--contrast);

				&::placeholder {
					color: var(--contrast);
				}
			}
		}

		&-RightWrap {
			display: flex;
			display: -webkit-flex;
			align-items: center;

			&-Login {
				display: flex;
				display: -webkit-flex;
				border: 1px solid var(--contrast);
				border-radius: 25px;
				padding: 6px 10px;
				color: var(--contrast);
				cursor: pointer;

				&-Icon {
					margin-right: 4px;
					font-size: 1.5rem;
				}

				&-Name {
					font-size: 1.1rem;
				}

				&:hover {
					background-color: var(--contrast);
					color: var(--theme);
				}
			}

			&-Profile {
				width: 45px;
				height: 45px;
				border-radius: 50%;
				margin-left: 0.625rem;
				cursor: pointer;
			}
		}
	}
}
