.SearchInput {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	outline: none;
	background: none;
	color: var(--contrast);

	&-Border {
		outline: 1px solid var(--gray);

		&:focus-within {
			outline: 1px solid var(--main);
		}
	}

	&-Icon {
		font-size: var(--font-regular);
		margin-right: 0.5rem;
	}

	&-Input {
		width: 100%;
		outline: none;
		background: none;
		border: none;

		&::placeholder {
			color: var(--contrast);
		}
	}
}
