.ModifyInfoModal {
	&-Center {
		display: flex;
		display: -wbekit-flex;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		align-items: center;

		&-LeftContents {
			&-ProfileImage {
				width: 200px;
				height: 200px;
				max-height: 200px;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		&-Inputs {
			margin-left: 1rem;

			&-Title {
				font-size: var(--font-normal);
				font-weight: 500;
				margin: 0 !important;
			}

			& > * {
				margin-bottom: 0.8rem;
			}
		}
	}

	&-BottomInputs {
		flex: 1;
		margin-top: 2rem;

		& > * {
			margin-bottom: 0.8rem;
		}
	}

	&-BottomSelect {
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		margin-bottom: 1rem;
	}
}
