@import 'styles/lib.scss';

.TagsItem {
	width: 230px;
	max-width: 230px;
	height: 180px;
	max-height: 180px;
	padding: 0.8rem;
	margin-bottom: 1rem;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	justify-content: space-between;

	&-Top {
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;

		&-Name {
			display: inline;
			background-color: var(--main);
			color: var(--white);
			font-size: var(--font-small);
			border-radius: 10px;
			padding: 5px 10px;
			cursor: pointer;
		}

		&-Description {
			@include ellipsisLine(4);
			margin-top: 0.8rem;
			line-height: 1.3rem;
			color: var(--contrast);
		}
	}

	&-Count {
		font-weight: 500;
		color: var(--contrast);
	}
}
