@mixin defaultTabStyle() {
	font-size: var(--font-small);
	color: var(--contrast);
	cursor: pointer;
}

.SelectTab {
	&-Long {
		@include defaultTabStyle();
		width: 50%;
		text-align: center;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid var(--gray);
	}

	&-Short {
		@include defaultTabStyle();
		width: 4rem;
		border: none;
		text-align: start;
	}

	&-Current {
		color: var(--main);
		border-bottom: 1px solid var(--main);
	}
}
