.PageTemplate {
	width: 100%;
	height: 100%;
	background-color: var(--theme);

	&-Contents {
		width: 100%;
		max-width: 1500px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		justify-content: center;

		&-Children {
			width: 65%;
			max-width: 65%;
			padding: 1.5rem;

			@media screen and (max-width: 900px) {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	&-Fixed {
		width: 100%;
		padding: 0 2rem;
		position: fixed;
		bottom: 2rem;
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		align-items: flex-end;
		z-index: 3;

		& > * {
			z-index: 3;
		}
	}
}
