@mixin tagInfoFontStyle($fontSize, $fontWeight, $color) {
	font-size: $fontSize;
	font-weight: $fontWeight;
	margin-bottom: 0.5rem;
	color: $color;
}

.TagInfo {
	&-Title {
		@include tagInfoFontStyle(var(--font-big), bold, var(--main));
	}

	&-Description {
		@include tagInfoFontStyle(var(--font-small), 400, var(--contrast));
	}

	&-CountWrapper {
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.5rem;

		&-Count {
			color: var(--contrast);
			font-size: var(--font-small);
		}
	}
}
