.ModifySubmit {
	width: 100%;
	height: 45px;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: var(--main);
	color: var(--white);
	font-size: var(--font-small);
	cursor: pointer;
}
