@import 'styles/util.scss';

$height: 145px;

.ListItem {
	width: 100%;
	min-height: $height;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	padding-right: 0.625rem;
	margin-bottom: 1.375rem;
	background-color: var(--theme);

	&-Contents {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;

		&-ImageWrap {
			width: 160px;
			user-select: none;
			-webkit-user-drag: none;
			position: relative;
			display: flex;
			z-index: 0;

			@media screen and (max-width: 430px) {
				width: 100%;
			}

			&-Thumbnail {
				width: 100%;
				height: 100%;
				outline: none;
				border: none;
				border-radius: 5px;
				object-fit: cover;
			}
		}

		&-ContentsWrap {
			flex: 1;
			padding-left: 0.875rem;

			&-Top {
				display: flex;
				display: -webkit-flex;
				flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;

				&-Writer {
					color: var(--contrast);
					font-size: var(--font-small);
					font-weight: 500;
					margin: 0.5rem 0;
				}

				&-RightInfo {
					display: flex;
					display: -webkit-flex;
				}
			}

			&-Title {
				font-weight: 500;
				color: var(--contrast);
				font-size: var(--font-contents);
				border-bottom: 1px solid var(--lighterGray);
				padding-bottom: 0.5rem;
			}

			&-Introduction {
				margin-bottom: 0.625rem;

				& > div {
					height: 45px;
					max-height: 45px;
					line-height: 1.6rem;
					@include ellipsisLine(2);
					font-size: var(--font-smallest);
				}
			}

			&-Tags {
				display: flex;
				display: -webkit-flex;
				align-items: center;
				margin-top: 4px;

				&-Tag {
					margin-right: 6px;
					background-color: var(--main);
					color: var(--white);
					border-radius: 5px;
					padding: 3px 8px;
				}
			}
		}
	}
}
