.LeftSidebarItem {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.7rem 1.5rem;
	border-bottom: 1px solid var(--lighterGray);
	color: var(--contrast);
	transition: 0.15s ease-in-out;
	cursor: pointer;

	&-Current {
		background-color: var(--lighterGray);
		border-right: 2px solid var(--main);

		& > * {
			color: var(--black) !important;
		}
	}

	&-Icon {
		margin-right: 0.5rem;
		font-size: var(--font-contents);
	}

	&-MenuName {
		font-size: var(--font-smallest);
	}

	&:hover {
		background-color: var(--lighterGray);
		color: var(--black) !important;
	}
}
