.CommentIconTab {
  display: flex;
  display: -webkit-flex;
  align-items: center;

  & input[type='file'] {
    display: none;
  }

  & > * {
    margin-right: 1rem;
    font-size: var(--font-normal);
    cursor: pointer;
  }
}
