.TagForm {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;

  &-Tag {
    font-size: 1.4rem;
    padding: 5px 8px;
    border-radius: 1rem;
    margin: 0 0.5rem;
    position: relative;
    background-color: var(--lighterGray);
    color: var(--main);

    &-Close {
      position: absolute;
      top: -0.4rem;
      right: -0.4rem;
      font-weight: bold;
      color: var(--red);
      cursor: pointer;
    }
  }

  &-Input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 0.2rem;
    background: none;
    font-size: 1.4rem;
    margin-left: 0.5rem;
  }
}