.TagForm {
	display: flex;
	display: -webkit-flex;

	&-Wrapper {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;

		&-Input {
			outline: none;
			border: none;
			padding-bottom: 0.45rem;
			background: none;
			font-size: var(--font-contents);
		}
	}

	&-Tag {
		font-size: var(--font-contents);
		padding: 5px 8px;
		border-radius: 1rem;
		margin: 0.5rem;
		position: relative;
		background-color: var(--lighterGray);
		color: var(--main);

		&-Close {
			position: absolute;
			top: -0.4rem;
			right: -0.4rem;
			font-weight: bold;
			color: var(--red);
			cursor: pointer;
		}
	}
}
