.CommentPreview {
  width: 100%;
  height: 200px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  display: -webkit-flex;
  color: var(--contrast);
  background-color: var(--theme);
  padding: 0.25rem 0.5rem;
}
