.LeftSidebarItem {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.8rem 1.6rem;
	border-bottom: 1px solid var(--lighterGray);
	transition: 0.15s ease-in-out;
	cursor: pointer;
	font-size: var(--font-small);
	color: var(--contrast);

	&-Current {
		background-color: var(--lighterGray);
		border-right: 2px solid var(--main);
		color: var(--black);
	}

	&-Icon {
		color: var(--contrast);
		margin-right: 0.4rem;
		font-size: var(--font-normal);
	}

	&:hover {
		background-color: var(--lighterGray);
		color: var(--black) !important;
	}
}
