.GithubLoading {
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	&-Title {
		font-size: var(--font-normal);
	}

	&-SubTitle {
		color: var(--lighterBlack);
		font-size: var(--font-small);
		margin: 0.75rem 0;
	}
}
