@mixin tagInfoFontStyle($fontSize, $fontWeight) {
	font-size: $fontSize;
	font-weight: $fontWeight;
	margin-bottom: 0.5rem;
}

.TagInfo {
	&-Title {
		@include tagInfoFontStyle(var(--font-big), bold);
	}

	&-Description {
		@include tagInfoFontStyle(var(--font-small), 400);
	}

	&-Count {
		margin-bottom: 0.5rem;
		font-size: var(--font-small);
	}
}
