.TagInfo {
	&-Title {
		font-size: var(--font-big);
		font-weight: bold;
	}

	&-Description {
		font-size: var(--font-small);
		font-weight: 400;
		margin-bottom: 0.5rem;
	}

	&-Count {
		margin-bottom: 0.5rem;
		font-size: var(--font-small);
	}
}
