.PostForm {
	width: 100%;
	height: 100%;
	padding: 2rem;

	&-TagWrapper {
		display: flex;
		display: -webkit-flex;
		margin: 1.1rem 0;

		& > * {
			width: 50%;
		}

		&-Left {
			display: flex;
			display: -webkit-flex;
			flex-wrap: wrap;
			-ms-flex-wrap: wrap;
		}
	}
}

.rc-md-editor .editor-container .sec-md .input,
.sec-html .html-wrap {
	background-color: var(--theme);
}
