.RecentPost {
	&-Select {
		display: flex;
		display: -webkit-flex;
		justify-content: flex-end;
		padding-right: 1.2rem;
		margin-bottom: 0.75rem;

		&-Item {
			margin-left: 0.3rem;
			font-size: 2rem;
			color: var(--lighterBlack);
			cursor: pointer;

			&-Current {
				color: var(--main) !important;
			}
		}
	}

	&-List {
		display: flex;
		display: -webkit-flex;
		flex: 1;
		flex-flow: column wrap;
		align-items: center;
	}
}
