.SearchHistory {
	position: absolute;
	left: 0;
	right: 0;
	top: 2.75rem;
	max-height: 260px;
	background-color: var(--white);
	border: 1px solid var(--lighterGray);
	overflow-x: hidden;
	overflow-y: auto;
}
