.RightSidebar {
	width: 270px;
	max-width: 270px;
	min-height: 100%;
	border-left: 1px solid var(--bd-sidebar);
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 1.5rem;
	padding-left: 1rem;
	color: var(--contrast);

	& > * {
		box-shadow: 0px 0px 5px -1.5px var(--gray-shadow);
		-webkit-box-shadow: 0px 0px 5px -1.5px var(--gray-shadow);
		border-radius: 5px;
		margin-right: 0.2rem;
		margin-bottom: 3rem;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		max-width: 100%;
		padding: 0 2rem;
	}
}
