@import 'styles/lib.scss';

.Footer {
  width: 100%;
  @include setHeightWithMax(120px);

  margin: 0 auto;
  background-color: var(--theme);
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--bd-sidebar);

  &-Wrapper {
    width: 100%;
    max-width: 1400px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    color: var(--contrast);
    padding-left: 1.5rem;
    z-index: 4;
  }

  &-Contents {
    display: flex;
    display: -webkit-flex;
    align-items: center;

    &-Logo {
      width: 100px;
      object-fit: cover;
      margin-right: 0.4rem;
    }
  }
}
