.InfoBox {
	width: 100%;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--gray);
	padding-bottom: 0.75rem;

	&-Left {
		display: flex;
		display: -webkit-flex;
		flex: 5.5;
		flex-wrap: wrap;
		align-items: center;

		&-Profile {
			width: 130px;
			height: 130px;
			object-fit: cover;
			border-radius: 50%;
		}

		&-Contents {
			margin-left: 0.7rem;

			&-NameId {
				display: flex;
				display: -webkit-flex;
				flex-wrap: wrap;
				align-items: center;

				&-Name {
					font-size: 1.9rem;
					font-weight: bold;
					margin-right: 0.25rem;
				}

				&-Id {
					font-size: 1.35rem;
				}
			}

			&-Description {
				font-size: 1.2rem;
			}

			&-Position {
				font-size: 1.2rem;
			}
		}
	}

	&-Right {
		display: flex;
		display: -webkit-flex;
		flex: 1;
		justify-content: space-between;
		align-items: center;

		& > * {
			color: var(--contrast);
			font-size: 2.85rem;
			cursor: pointer;

			&:hover {
				opacity: 0.6;
				color: var(--gray);
			}
		}
	}
}
