.ToggleReply {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	color: var(--main);
	margin: 0.5rem 0;

	& > * {
		font-size: var(--font-small);
		cursor: pointer;
	}

	&-Text {
		margin-left: 0.3rem;
	}
}
