.ToggleReply {
	display: inline-block;
	color: var(--main);
	margin: 0.5rem 0;

	& > * {
		font-size: var(--font-small);
		cursor: pointer;
		vertical-align: middle;
	}

	&-Text {
		margin-left: 0.2rem;
	}
}
