.ScrollToTop {
	width: 65px;
	height: 65px;
	background-color: var(--main);
	border: none;
	outline: none;
	border-radius: 15px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;

	&:hover {
		opacity: 0.8;
	}

	&-Icon {
		color: var(--white);
		font-size: var(--font-regular);
	}
}
