.PostUserInfo {
	width: 100%;
	height: 120px;
	max-height: 120px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	border-bottom: 1px solid var(--gray);

	& > * {
		display: flex;
		display: -webkit-flex;
		align-items: center;
	}

	&-Left {
		&-Profile {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin-right: 0.8rem;
		}

		&-Contents {
			&-Name {
				font-size: var(--font-normal);
				font-weight: 500;
				cursor: pointer;

				&:hover {
					color: var(--main);
				}
			}

			&-Description {
				font-size: var(--font-smallest);
				color: var(--gray);
				font-weight: 400;
				margin-bottom: 0.35rem;
			}

			&-Location {
				font-size: var(--font-smallest);
			}
		}
	}

	&-Right {
		font-size: var(--font-biggest);

		& > * {
			opacity: 0.5;
			cursor: pointer;
			transition: 0.15s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}
}
