.PostLike {
	width: 100%;
	height: 70px;
	max-height: 70px;
	background-color: var(--bg-codeBlock);
	border-left: 4px solid var(--main);
	border-radius: 5px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	padding-right: 0.5rem;

	&-Left {
		display: flex;
		display: -webkit-flex;
		align-items: center;

		&-SubText {
			font-size: var(--font-normal);
		}
	}

	&-Right {
		&-List {
			font-size: var(--font-bigger);
			cursor: pointer;
		}
	}
}
