@import 'styles/lib.scss';

.LikeItem {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
	color: var(--contrast);

	&-Left {
		display: flex;
		display: -webkit-flex;
		align-items: center;

		&-Profile {
			width: 70px;
			height: 70px;
			object-fit: cover;
			border-radius: 50%;
			margin-right: 0.6rem;
		}

		&-ContentsWrap {
			&-Name {
				font-size: var(--font-small);
				font-weight: 500;
			}

			&-Description {
				@include ellipsisLine(1);
				font-size: var(--font-smallest);
			}
		}
	}
}
