@import 'styles/skeleton.scss';

.FallbackLoader {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;

  &-Header {
    height: 70px;
    margin-top: 1rem;
    @include setSkeleton();
  }

  &-ContentsWrap {
    display: flex;
    display: -webkit-flex;
    height: calc(100% - 90px);
    margin-top: 1rem;

    & > * {
      @include setSkeleton();
      height: 90%;
    }

    &-LeftSidebar {
      width: 180px;
    }

    &-Center {
      width: 65%;
      padding-top: 1rem;
      margin: 0 1rem;
    }

    &-RightSidebar {
      flex: 1;
    }
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
