.PageNumberList {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;

	&-Button {
		outline: none;
		border: none;
		border-radius: 5px;
		padding: 1rem;
		background-color: var(--main);
		color: var(--white);
		cursor: pointer;
	}

	&-Pages {
		width: 120px;
		max-width: 120px;
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
		margin: 0 1rem;

		&-Page {
			font-size: var(--font-normallest);
			margin: 0 0.4rem;
			cursor: pointer;

			&-Current {
				color: var(--main);
			}
		}
	}
}
